.container {
}

.pagination {
 display: flex;
 justify-content: center;
 align-items: center;
 list-style: none;
 gap: 5px;

}

.pageLink {
 cursor: pointer;
 width: 100%;
 display: flex;
 justify-content: center;
}

.pageItem {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 5rem;
 height: 3rem;
 border: 1px solid #eaeaea;
 border-radius: 0.5rem;
 cursor: pointer;
}

.pageItemActive {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 5rem;
 height: 3rem;
 border: 1px solid #eaeaea;
 border-radius: 0.5rem;
 cursor: pointer;
 background-color: rgb(9, 174, 245);
}